@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sqobo');
  src:  url('fonts/icomoon.eot?sqobo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sqobo') format('truetype'),
    url('fonts/icomoon.woff?sqobo') format('woff'),
    url('fonts/icomoon.svg?sqobo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-feup .path1:before {
  content: "\e95e";
  color: rgb(166, 54, 33);
}
.icon-feup .path2:before {
  content: "\e95f";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path3:before {
  content: "\e960";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path4:before {
  content: "\e961";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path5:before {
  content: "\e962";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path6:before {
  content: "\e963";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path7:before {
  content: "\e964";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path8:before {
  content: "\e965";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path9:before {
  content: "\e966";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path10:before {
  content: "\e967";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path11:before {
  content: "\e968";
  margin-left: -2.845703125em;
  color: rgb(174, 68, 48);
}
.icon-feup .path12:before {
  content: "\e969";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path13:before {
  content: "\e96a";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path14:before {
  content: "\e96b";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path15:before {
  content: "\e96c";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path16:before {
  content: "\e96d";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path17:before {
  content: "\e96e";
  margin-left: -2.845703125em;
  color: rgb(184, 91, 74);
}
.icon-feup .path18:before {
  content: "\e96f";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path19:before {
  content: "\e970";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path20:before {
  content: "\e971";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path21:before {
  content: "\e972";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path22:before {
  content: "\e973";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path23:before {
  content: "\e974";
  margin-left: -2.845703125em;
  color: rgb(189, 103, 87);
}
.icon-feup .path24:before {
  content: "\e975";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path25:before {
  content: "\e976";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path26:before {
  content: "\e977";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path27:before {
  content: "\e978";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path28:before {
  content: "\e979";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path29:before {
  content: "\e97a";
  margin-left: -2.845703125em;
  color: rgb(192, 113, 98);
}
.icon-feup .path30:before {
  content: "\e97b";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path31:before {
  content: "\e97c";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path32:before {
  content: "\e97d";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path33:before {
  content: "\e97e";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path34:before {
  content: "\e97f";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path35:before {
  content: "\e980";
  margin-left: -2.845703125em;
  color: rgb(199, 125, 112);
}
.icon-feup .path36:before {
  content: "\e981";
  margin-left: -2.845703125em;
  color: rgb(221, 180, 172);
}
.icon-feup .path37:before {
  content: "\e982";
  margin-left: -2.845703125em;
  color: rgb(221, 180, 172);
}
.icon-feup .path38:before {
  content: "\e983";
  margin-left: -2.845703125em;
  color: rgb(221, 180, 172);
}
.icon-feup .path39:before {
  content: "\e984";
  margin-left: -2.845703125em;
  color: rgb(221, 180, 172);
}
.icon-feup .path40:before {
  content: "\e985";
  margin-left: -2.845703125em;
  color: rgb(221, 180, 172);
}
.icon-feup .path41:before {
  content: "\e986";
  margin-left: -2.845703125em;
  color: rgb(230, 196, 189);
}
.icon-feup .path42:before {
  content: "\e987";
  margin-left: -2.845703125em;
  color: rgb(230, 196, 189);
}
.icon-feup .path43:before {
  content: "\e988";
  margin-left: -2.845703125em;
  color: rgb(230, 196, 189);
}
.icon-feup .path44:before {
  content: "\e989";
  margin-left: -2.845703125em;
  color: rgb(230, 196, 189);
}
.icon-feup .path45:before {
  content: "\e98a";
  margin-left: -2.845703125em;
  color: rgb(230, 196, 189);
}
.icon-feup .path46:before {
  content: "\e98b";
  margin-left: -2.845703125em;
  color: rgb(236, 210, 206);
}
.icon-feup .path47:before {
  content: "\e98c";
  margin-left: -2.845703125em;
  color: rgb(236, 210, 206);
}
.icon-feup .path48:before {
  content: "\e98d";
  margin-left: -2.845703125em;
  color: rgb(236, 210, 206);
}
.icon-feup .path49:before {
  content: "\e98e";
  margin-left: -2.845703125em;
  color: rgb(236, 210, 206);
}
.icon-feup .path50:before {
  content: "\e98f";
  margin-left: -2.845703125em;
  color: rgb(236, 210, 206);
}
.icon-feup .path51:before {
  content: "\e990";
  margin-left: -2.845703125em;
  color: rgb(254, 254, 254);
}
.icon-feup .path52:before {
  content: "\e991";
  margin-left: -2.845703125em;
  color: rgb(254, 254, 254);
}
.icon-feup .path53:before {
  content: "\e992";
  margin-left: -2.845703125em;
  color: rgb(254, 254, 254);
}
.icon-feup .path54:before {
  content: "\e993";
  margin-left: -2.845703125em;
  color: rgb(254, 254, 254);
}
.icon-feup .path55:before {
  content: "\e994";
  margin-left: -2.845703125em;
  color: rgb(254, 254, 254);
}
.icon-university-porto:before {
  content: "\e95d";
}
.icon-vsco:before {
  content: "\e95c";
}
.icon-fct-unl .path1:before {
  content: "\e958";
  color: rgb(254, 254, 254);
}
.icon-fct-unl .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(66, 107, 188);
}
.icon-fct-unl .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(90, 188, 205);
}
.icon-fct-unl .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(123, 188, 0);
}
.icon-new-university-lisbon .path1:before {
  content: "\e900";
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path40:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path41:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path42:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path43:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path44:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path45:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path46:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path47:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path48:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path49:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path50:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path51:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path52:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path53:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path54:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path55:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path56:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path57:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path58:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path59:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path60:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path61:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path62:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path63:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path64:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path65:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path66:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path67:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path68:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path69:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path70:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path71:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path72:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path73:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path74:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path75:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path76:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path77:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path78:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path79:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path80:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path81:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path82:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path83:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path84:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path85:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path86:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new-university-lisbon .path87:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
.icon-new-university-lisbon .path88:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(48, 128, 65);
}
