{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="myname">
          Rúben André Barreiro
      </div>
        
      <hr/>
      <div class="shortbio">
          ♏ 90's | 🎂 25 years | 🏠 From Lisbon, PT | 📍 Living in Oporto, PT
          <br>
          🎓 BSc @ FCT NOVA, PT
          <br>
          💻 Computer Science Engineer | 👨‍💻 IT/IS Programmer & Technician
          <br>
          💼 Entrepreneur | 👥 Influencer | 💡 Promoter
          <br>
          👔 Fashioner | ✏️ Designer | 📸 Photographer | 🎥 Producer
          <br>
          🏋️ Athlete | 🚶 Model | 🤴 Lifestyle
          <br>
          ✈️ Travel Enthusiast | 😂 Humorist | 🎵 Music Addicted  
      </div>
      <hr/>
    
      <br>
        
      <div class="heading">
        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}
      </div>
    
      <hr/>
      <div class="sectiondescription">
          <p>
            {% if page.summary %}
              {{ page.summary }}
            {% endif %}
          </p>  
      </div>
      <hr/>
      
    </div>

  </div>

  <div id="switcher"></div>
</aside>
