{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">
    
    <div class="cover-text">
      
      <script>
        var path = document.location.pathname;
        var directory = path.substring(path.indexOf('/'), path.lastIndexOf('/'));  
        
        var directories = directory.split('/');
        var isMainTab = true;
          
        if(directories.length == 3) {
            isMainTab = false;
        }
        
        var protrait2DPathSrc = '';
          
        if(isMainTab) {
            protrait2DPathSrc = '../assets/images/Protrait_2D_1.png';    
        }
        else {
            protrait2DPathSrc = '../../assets/images/Protrait_2D_1.png';
        }
          
        var protrait2DElem = document.getElementById('protrait2D');
        protrait2DElem.src = protrait2DPathSrc;
          
        alert(protrait2DElem.src);
      </script>  
        
      <input id="protrait2D" type="image" alt="My Bitmoji-Bitstrip's Protrait in 2D" height="120" width="120">
    
      <div class="myname">
          Rúben André Barreiro
      </div>
        
      <hr/>
      <div class="shortbio">
          ♏ 90's | 🎂 25 years | 🏠 From Lisbon, PT | 📍 Living in Oporto, PT
          <br>
          🎓 BSc @ FCT NOVA, PT
          <br>
          💻 Computer Science Engineer | 👨‍💻 IT/IS Programmer & Technician
          <br>
          💼 Entrepreneur | 👥 Influencer | 💡 Promoter | 👔 Fashioner
          <br>
          ✏️ Designer | 📸 Photographer | 🎥 Producer | 🏋️ Athlete | 🚶 Model
      </div>
      <hr/>
    
      <br>
    
    <!--    
      <div class="heading">
        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}
      </div>
    
      <hr/>
      <div class="sectiondescription">
          <p>
            {% if page.summary %}
              {{ page.summary }}
            {% endif %}
          </p>  
      </div>
      <hr/>
      
      <br>
    
-->
        
      <div class="heading">
        Social
      </div>
        
      <hr/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
        
      <div class="w3-container w3-xlarge w3-padding">
          <a target="_blank" href="https://www.facebook.com/rubenandrebarreiro" title="Rúben André Barreiro (BadNewz) on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="Rúben André Barreiro (BadNewz) on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.lifestyle" title="BadNewz Lifestyle on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Lifestyle on Facebook"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/rubenandrebarreiro/" title="Rúben André Barreiro on LinkedIn"><i class="fa fa-linkedin w3-hover-text-blue" title="Rúben André Barreiro on LinkedIn"></i></a>
          <a target="_blank" href="https://www.twitter.com/ruben_badnewz/" title="Rúben André Barreiro (BadNewz) on Twitter"><i class="fa fa-twitter w3-hover-text-cyan" title="Rúben André Barreiro (BadNewz) on Twitter"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-wordpress w3-hover-text-blue"></i></a>
          <a target="_blank" href="https://github.com/rubenandrebarreiro" title="Rúben André Barreiro on GitHub"><i class="fa fa-github w3-hover-text-black" title="Rúben André Barreiro on GitHub"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-youtube w3-hover-text-red"></i></a>
          
          <br>
          
          <a target="_blank" href="https://www.instagram.com/ruben.badnewz/" title="Rúben André Barreiro (BadNewz) on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="Rúben André Barreiro (BadNewz) on Instagram"></i></a>
          <a target="_blank" href="https://badnewz-lifestyle.tumblr.com/" title="BadNewz Lifestyle on Tumblr"><i class="fa fa-tumblr w3-hover-text-indigo" title="BadNewz Lifestyle on Tumblr"></i></a>
          <a target="_blank" href="https://www.pinterest.com/ruben_badnewz/" title="Rúben BadNewz (BadNewz Lifestyle) on Pinterest"><i class="fa fa-pinterest-p w3-hover-text-red" title="Rúben BadNewz (BadNewz Lifestyle) on Pinterest"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-flickr w3-hover-text-purple"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-500px w3-hover-text-black"></i></a>
          <i class="fa fa-snapchat w3-hover-text-yellow" title="ruben.badnewz on Snapchat"></i>
          <a href="https://rubenandrebarreiro.github.io/contacts#othersociallinksusernames" title="Other Social Links/Usernames"><i class="fa fa-comments w3-hover-text-light-blue" title="Other Social Links/Usernames"></i></a>
          <a href="https://rubenandrebarreiro.github.io/contacts#emails" title="My E-mails"><i class="fa fa-at w3-hover-text-yellow" title="My E-mails"></i></a>
          
          <!--
            
          <i class="fa fa-envelope w3-hover-text-grey"></i>
          <br>
          <i class="fa fa-skype w3-hover-text-cyan"></i>
          <i class="fa fa-google w3-hover-text-red"></i>
        
          -->
          
      </div>
      <hr/>
        
    </div>

  </div>

  <div id="switcher"></div>
</aside>
